<div class="date">
    <h2 class="m-0 h2 spaceMono">{{data.date}}</h2>
    <div class="countDown">
        <div class="days">
            <p class="m-0 number spaceMono"></p>
            <p class="m-0 text h2 spaceMono">días</p>
        </div>

        <div class="hours">
            <p class="m-0 number spaceMono"></p>
            <p class="m-0 text h2 spaceMono">horas</p>
        </div>

        <div class="minutes">
            <p class="m-0 number spaceMono"></p>
            <p class="m-0 text h2 spaceMono">minutos</p>
        </div>
    </div>
    <p class="spaceGrotesk description">
      {{data.description}}
    </p>
</div>