<div class="galery">
    <div class="pagination"></div>
    <div class="swiper-container" [swiper]="config" [(index)]="index">

        <div class="swiper-wrapper">
          <!-- <div class="swiper-slide slider img" *ngFor="let slider of data.sliders" style="background-image: url({{slider.img}});"> -->
          <div class="swiper-slide slider img" *ngFor="let slider of data"
            style="background-image: url({{slider.img}});">
            <!-- <img [src]="" alt=""> -->
            
          </div>
    
        </div>
      </div>
</div>