<section class="aboutUs container-fluid" id="aboutUs">
    <div class="sutitle row">
        <div class="col-lg-6 img">

        </div>
        <div class="info">
            <h2 class="m-0 h2 spaceMono mb-2">{{subtitle.title}}</h2>
            <p>{{subtitle.description}}</p>
        </div>

    </div>
    <div class="generalInfo row">
        <div class="text" *ngFor="let item of generalInfo">
            <h3 class="m-0 h3 poppins">{{item.title}}</h3>
            <p>
                {{item.description}}
            </p>
        </div>

    </div>
    <div class="membersInfo">
        <div class="members">
            
        <div class="title">
            <h3 class="m-0 h3 poppins">{{members.title}}</h3>
            <div class="navigation d-flex">
                <button type="button" class="button-prev">
                    <img src="assets/img/left.svg" alt="Prev">
                </button>
                <button type="button" class="button-next">
                    <img src="assets/img/right.svg" alt="Next">
                </button>
            </div>
        </div>
        
        <div  class="swiper-container" [swiper]="config" [(index)]="index">
            <div class="swiper-wrapper">
              <div class="swiper-slide member" *ngFor="let slider of members.members">
                <div class="img">
                    <img [src]="slider.img" [alt]="slider.job">
                </div>
                <div class="info">
                    <h4 class="m-0 h4">{{slider.fullname}}</h4>
                    <p class="m-0">{{slider.job}}</p>
                  </div>
              </div>
            </div>
          </div>

        </div>

        <div class="ad row">
            <p>Conviértete en miembro de AEIMEC UDB</p>
            <button type="button">Únete ahora</button>
        </div>
    </div>

</section>