@import '../../../assets/css/theme';

.aboutUs {
    min-height: 100vh;
    // background-color: aqua;

    .sutitle {
        height: 385px;
        position: relative;

        .img {
            height: 385px;
            background-color: #ddd;
        }

        .info {
            position: absolute;
            background: rgba($color: $primaryDarkLayout, $alpha: 0.80);
            // backdrop-filter: blur(250px);
            height: 225px;
            max-width: 510px;
            top: 50%;
            padding: 25px;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                color: $secondaryLayout;
            }

            p {
                // max-width: 455px;
                margin: 0 auto;
            }
        }
    }

    .generalInfo {
        padding: 40px 80px 40px 40px;
        background-color: $secondaryLayout;
        justify-content: space-between;

        &>.text {
            // flex: 0 0 50%;
            // width: 400px;
            padding: 0 40px;

            h3 {
                margin-bottom: 6px;
            }

            p {
                max-width: 400px;
            }
        }
    }

    .membersInfo {
        position: relative;

        .members {
            padding: 20px 60px;

            .title {
                display: flex;
                position: relative;
                justify-content: space-between;
                align-items: center;

                .navigation {
                    &>button {

                        margin-right: 10px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        outline: none !important;

                        &:last-of-type {
                            margin-right: 0;
                        }

                        img {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }

            .member {

                background-size: cover;
                text-align: center;

                .img {
                    height: 200px;
                    // border: 3px solid #ccc;
                    overflow: hidden;
                    img {
                        max-width: 100%;
                    }
                }

                .info {
                    padding: 15px 20px;
                    text-align: center;
                }
            }
        }

        .ad {
            background-color: $primaryDarkLayout;
            align-items: center;
            justify-content: space-between;
            padding: 20px 60px;

            p {
                color: $whiteLayout;
            }

            button {

                font-weight: bold;
                text-align: center;
                background-color: $secondaryInteractive;
                color: $primaryInteractive;
            }
        }
    }
}
