<section class="contactUs" id="contactUs">
    <div class="info">
        <h2 class="m-0 h1 spaceMono">{{data.title}}</h2>
        <div class="img">
            <!-- <img src="" alt=""> -->
        </div>
        <div class="footer">
            <div class="socialNet">
                <ng-container *ngFor="let item of socialNetworks">
                    <a [href]="item.url" class="social">
                        <img [src]="item.img" [alt]="item.name">
                    </a>
                </ng-container>
            </div>
            <button>{{data.email}}</button>
        </div>

    </div>
</section>