.navBar{
    position: fixed;
    top: 0;
    left: 0;
}
.containerPanel{
    margin-left: 370px;
    position: relative;
}
@media(max-width: 992px){
    .navBar{
       width: 100%;
       z-index: 2000000;
    }
    .containerPanel{
        width: 100%;
        margin-left: 0;
    }
}