<section class="home" id="home">
  <div class="pagination"></div>
  <div  class="swiper-container" [swiper]="config" [(index)]="index">
  
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide slider img" *ngFor="let slider of data.sliders" style="background-image: url({{slider.img}});"> -->
        <div class="swiper-slide slider img" *ngFor="let slider of data.sliders"  >
      
          <div class="info">
            <h2 class="h1 spaceMono">{{slider.title}}</h2>
            <p>{{slider.description}}</p>
          </div>
        </div>
      
    </div>
  </div>
  <div class="scrollDown">
    <p class="m-0">Scroll down</p>
    <img src="assets/img/scrolldown.svg" alt="">
  </div>
  
       
  </section>
  