<section class="home" id="Home">
  <div class="pagination"></div>
  <div  class="swiper-container" [swiper]="config" [(index)]="index">
  
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide slider img" *ngFor="let slider of data.sliders" style="background-image: url({{slider.img}});"> -->
        <div class="swiper-slide slider img" *ngFor="let slider of data.sliders"  >
      
          <div class="info">
            <h2 class="h1 spaceMono">{{slider.title}}</h2>
            <p>{{slider.description}}</p>
          </div>
        </div>
      
    </div>
  
  </div>
    <!-- <swiper [slidesPerView]="1" [spaceBetween]="50" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [navigation]="true" [pagination]="{ clickable: true,  dynamicBullets: true }" >
          <ng-template swiperSlide *ngFor="let slider of data.sliders">
            <div class="slider img" style="background-image: url({{slider.img}});">
         >
              
            </div>
          </ng-template>
        </swiper> -->
  
  
  <!-- <div class="text">
    <swiper class="text" effect="distorsion">
      <ng-template swiperSlide *ngFor="let slider of data.sliders">
        <div class="slider">
          <h2>{{slider.title}}</h2>
          <p>{{slider.description}}</p>
        </div>
      </ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
    </swiper>
  </div> -->
       
  </section>
  