@import "~swiper/swiper-bundle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Space+Mono:wght@400;700&display=swap');


/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

.m {
    &-0 {
        margin: 0;
    }
}

/*MARGIN BOTTOM*/
.mb {
    &-2 {
        margin-bottom: 20px;
    }

    &-4 {
        margin-bottom: 40px;
    }

    &-6 {
        margin-bottom: 60px;
    }

    &-8 {
        margin-bottom: 80px;
    }

    &-18 {
        margin-bottom: 180px;
    }

}
/*MARGIN TOP*/
.mt {
    &-2 {
        margin-top: 20px;
    }

    &-4 {
        margin-top: 40px;
    }

    &-6 {
        margin-top: 60px;
    }

    &-8 {
        margin-top: 80px;
    }

    &-18 {
        margin-top: 180px;
    }

}

.p {
    &-0 {
        padding: 0 !important;
    }
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #1a1a1a !important;
    background-color: transparent;
    border-radius: 50%;
    margin-right: 20px;

    &:last-of-type {
        margin-right: 0;
    }
}

.spaceMono {
    font-family: 'Space Mono', monospace;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.h {
    &1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
    }

    &2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 53px;
    }

    &3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
    }

    &4 {
        font-weight: 700;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
    }

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.btn {
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}