@import "~swiper/swiper-bundle";



/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

.m{
    &-0{
        margin: 0;
    }
}
/*MARGIN BOTTOM*/
.mb{
    &-2{
        margin-bottom: 20px;
    }
    &-4{
        margin-bottom: 40px;
    }
    &-6{
        margin-bottom: 60px;
    }
    &-8{
        margin-bottom: 80px;
    }
    &-18{
        margin-bottom: 180px;
    }
    
}
.p{
    &-0{
        padding: 0!important;
    }
}

.swiper-pagination-bullet{
    display: inline-block;
   width: 12px!important; 
   height: 12px!important;
   border: 1px solid #1a1a1a!important;
   background-color: transparent;
   border-radius: 50%;
   margin-right: 20px;
   &:last-of-type{
       margin-right: 0;
   }
}