<section class="project">
    <div class="imgHero" style="background-image: url({{project.img}});">
        <a [routerLink]="[ '/portfolio']">
            <button type="button" class="back">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="ico">
                    <title>back ico</title>
                    <g id="Capa_2" data-name="Capa 2">
                        <g id="Capa_1-2" data-name="Capa 1">
                            <path
                                d="M28.08,17.9h-16l5.15-5.15a.36.36,0,0,0,0-.52l-.83-.83a.37.37,0,0,0-.52,0L9,18.28a.47.47,0,0,0,0,.65l6.89,7.37a.37.37,0,0,0,.52,0l.86-.8a.37.37,0,0,0,0-.52l-4.84-5.19H28.08a.42.42,0,0,0,.42-.42V18.32A.42.42,0,0,0,28.08,17.9Z" />
                            <path
                                d="M19,38A19,19,0,1,1,38,19,19,19,0,0,1,19,38ZM19,2.38A16.62,16.62,0,1,0,35.63,19,16.63,16.63,0,0,0,19,2.38Z" />
                        </g>
                    </g>
                </svg>
            </button>
        </a>
    </div>
    <div class="info">
        <h1 class="m-0 h2 spaceMono">{{project.name}}</h1>
        <p class="m-0 poppins mb-4">{{project.brand}}</p>
        <p class="poppins">
            {{project.description}}
        </p>
    </div>
    <div class="mt-4 mb-6 gallery">
        <div class="mb-2 title d-flex ">
            <h3 class="m-0 h3 spaceMono">Galería del producto</h3>
            <div class="navigation d-flex">
                <button type="button" class="button-prev">
                    <img src="assets/img/left.svg" alt="Prev">
                </button>
                <button type="button" class="button-next">
                    <img src="assets/img/right.svg" alt="Next">
                </button>
            </div>
        </div>

        <div class="swiper-container" [swiper]="config" [(index)]="index">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider" *ngFor="let slider of project.galery">
                    <img [src]="slider.img" [alt]="slider.name">

                </div>
            </div>
        </div>
    </div>

</section>